<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>起始页面</title>
<!--    <style>-->
<!--        table { margin: auto; } body { text-align: center;}-->
<!--    </style>-->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/css">
    </script>

</head>

<body>

<div>
    <table>
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="username1" id="username1"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="text" name="password1" id="password1"></td>
        </tr>
        <tr>
            <td><button>登陆</button></td>
            <td><button>注册</button></td>
        </tr>
    </table>
    <Button id="bt3" onclick="location='/test/toShowUser'">toUser</Button>
</div>






</body>
</html>